@import "all";

img{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left:auto;
	margin-right:auto;
	padding: 15px;
}


input#search{
	width: 200px;
	height:50px;
	font: 27px/32px 'ChunkFiveRegular', Arial, sans-serif;
}

