@import "all";

body{
	height: 100%;
	width: 100%;
	@include gradient-bg(#ffffff, #4D4D4D);
}

h1{
	font: 60px/68px 'ChunkFiveRegular', Arial, sans-serif;letter-spacing: 0;
}

.search{
	height: 50;
	width: 31;
	font-size:14 pt;
	font: 18px/27px 'ChunkFiveRegular', Arial, sans-serif;
}