@import "all";

body{
	height: 100%;
	width: 100%;
	@include gradient-bg(#ffffff, #4D4D4D);
}

h1{
	font: 60px/68px 'ChunkFiveRegular', Arial, sans-serif;letter-spacing: 0;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}
