body {
  height: 100%;
  width: 100%;
  background-color: silver;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=silver, endColorstr=white);
  background-image: -moz-linear-gradient(center top, silver, white);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(silver), to(white)); }
