body {
  height: 100%;
  width: 100%;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=white, endColorstr=#4d4d4d);
  background-image: -moz-linear-gradient(center top, white, #4d4d4d);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#4d4d4d)); }
