@font-face {
  font-family: 'ChunkFiveRegular';
  src: url("Chunkfive-webfont.eot");
  src: url("Chunkfive-webfont.eot?#iefix") format("eot"), url("Chunkfive-webfont.woff") format("woff"), url("Chunkfive-webfont.ttf") format("truetype"), url("Chunkfive-webfont.svg#webfont90E2uSjN") format("svg");
  font-weight: normal;
  font-style: normal; }

img {
  margin: 15px;
  padding: 15px; }

body {
  height: 100%;
  width: 100%;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=white, endColorstr=#4d4d4d);
  background-image: -moz-linear-gradient(center top, white, #4d4d4d);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#4d4d4d)); }
