=image_tag("logo.png")
-form_tag(search_path, :method => :get) do
  = text_field_tag("place", 'Place', :id => "search")
  = text_field_tag("near", 'Near', :id => "search")
  = image_submit_tag("submit.png", :id => "submit", :name => "submit", :class => "submit-button", :disabled => false)
%h2
  Search for a venue on Foursquare to find out who's there!