%h1 testing
-form_tag(search_path, :method => :get) do
  = text_field_tag("place", 'Place', :id => "search")
  = text_field_tag("near", 'Near', :id => "search")
  = submit_tag("Search", :id => "submit", :name => "search", :class => "form_submit", :disabled => false, :disable_with => "Please wait...")
