%h1.header
  =@header
-@herenow.each do |i|
  =image_tag(i["user"]["photo"])
  %br
  =i["user"]["firstName"]
%br
This room is
= @place.room_id.to_s
text that code + your message to 315-842-4830</h1>
%br
%script{:type=>"text/javascript", :charset=>"utf-8"}
  = render :partial => "chat"
%div#chat


