<!DOCTYPE html>
<html>
<head>
  <title>Whoshere</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'http://code.jquery.com/jquery-1.5.2.min.js' %>
  <%= csrf_meta_tag %>
  </head>
<body>

<%= yield %>

</body>
</html>
